<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
    <title>home</title>
    <link rel="stylesheet" href="projects.css">
</head>
<body>
<!-- main body  -->
    <div id="main-body" class="container-fluid" >
        <!-- header  -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">پروژه ها</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/best">بهترین ها</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/worst">بدترین ها</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search">جستجو</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  <p><%= username %></p>
                </span>
              </div>
            </div>
          </nav>

           <!-- projects -->
   <div id="project">
    <div id="pr" class="container-fluid" >
      <p id="username" >lucifer</p>
      <a id="content" class='d-flex' href=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam neque</a>
      <small><small><a id="a2" href="/comments" >comments</a></small></small>
      <small><small><a href="">like</a></small></small>
      <small><small><a href="">dislike</a></small></small>
      <hr class="container-fluid" >
  </div>
   </div>


    <!-- add projects  -->
    <div id="record" class="container-fluid">
        <form action="/project-post" method="post" >
            <p>پروژه خود را نمایش دهید</p>
            <input type="url" name="url" placeholder="url"  class="container-fluid d-flex" >
            <textarea type="text" name="content" placeholder="content" style="margin-top: 2%;" class="container-fluid d-flex" ></textarea>
            <button type="submit" style="margin-top: 2%;" > ثبت پروژه </button>
        </form>
    </div>
    </div>



    <script>
       fetch('http://localhost:3000/post' , {method:"GET"})
       .then((Response) => Response.json()
       .then((res) =>{
          document.getElementById('username').innerHTML = res[0].tag.username;
          document.getElementById('content').innerHTML = res[0].content
          document.getElementById('content').href = res[0].url
          document.getElementById('a2').href = `/comments/${res[0]._id}`
          // console.log(res[0]._id)
          for (var i = 1 ; i < res.length ; i++ ){
            const p =document.getElementById('pr')
            const p2 =document.getElementById('project')
            const n = p.cloneNode()
            const p3 = document.createElement('p')
            p3.innerHTML = res[i].tag.username
            n.appendChild(p3)
            const a = document.createElement('a')
            a.innerHTML = res[i].content
            a.href = res[i].url
            n.appendChild(a)
            const a2 = document.createElement('a')
            a2.innerHTML = 'comments'
            a2.href = `/comments/${res[i]._id}`
            a.style.display = 'block'
            a2.style.fontSize = '10px'
            n.appendChild(a2)
            const a3 = document.createElement('a')
            a3.innerHTML = 'like'
            a3.href = `/like/${res[i]._id}`
            a3.style.fontSize = '10px'
            a3.style.marginLeft='2%'
            n.appendChild(a3)
            const a4 = document.createElement('a')
            a4.innerHTML = 'dislike'
            a4.href = `/dislike/${res[i]._id}`
            a4.style.fontSize = '10px'
            a4.style.marginLeft='2%'
            n.appendChild(a4)
            const hr = document.createElement('hr')
            hr.className = 'container-fluid'
            n.appendChild(hr)
            p2.appendChild(n)
          }
       } ))
    </script>

</body>
</html>